/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
  
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.main-container {
  max-width: 1100px;
  margin: auto;
}

.main-container h1,
.main-container p {
  margin: auto;
  text-align: center;
}

.filters-container {
  max-width: 700px;
  margin: auto;
}


.listing-container {
  max-width: 700px;
  margin: 50px auto;
}

.listing-container .big-image img {
  max-width: 100%;
}

.listing-container .thumbnail {
  width: 50px;
  display: inline-block;
  margin: 10px 10px 10px 0px;
}

.listing-container .thumbnails img {
  max-width: 100%;
}

.list {
  text-align: center;
}

.no-result {
  margin: 50px;
}

.close-detail {
  margin-top: 20px;
}

.detail-options {
  margin: 20px;
}

.detail-view {
  text-align: left;
}







